.genreGrid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.genreCard {
  background: var(--gradient-green-medium);
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
  color: var(--spotilyzer-green);
  border: 1px solid var(--spotilyzer-light-green);
  box-shadow: var(--shadow-default);
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.genreCard h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.genreCard p {
  font-size: 1rem;
  opacity: 0.9;
}
